<div class="body"></div>
<div class="grad"></div>
<div class="header-tittle">
<div>Laid<span>Back</span><br>日々の生活に<br>癒しを</div>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="login">
    <%= f.text_field :nickname, autofocus: true, maxlength: "6",:placeholder => "nickname", class: "input-login" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => "email", class: "input-login" %>
    <%= f.password_field :password, autocomplete: "new-password",:placeholder => "password", class: "input-login" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",:placeholder => "passwordconfirmation", class: "input-login" %>
 
  <div class="field">
    <%= f.submit "Sign up", class: 'sign-btn' %>
  </div>
  
<% end %>

<%= render "devise/shared/links" %>
