<%= render "shared/header" %> 
<div class="wrapper">
  <div class="create-tittle">投稿する</div>
  <div class="new-tweet-form">
    <%= form_with(model: @tweet, local: true) do |f| %>
    
      <div class="address-form">
        <input type="hidden" name="map[address]" id="hidden_address">
      </div>
      <div class="genre_form">
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
      </div>
      <div class="tweet-name-form">
        <%= f.text_field :name, placeholder: "Nickname" %>
      </div>
      <div class="image-form">
        <%= f.file_field :image, placeholder: "Image Url" %>
      </div>
      <div class="text-form">
        <%= f.text_area :text, placeholder: "text", rows: "10" %>
      </div>
      <%= f.text_field :address, placeholder: "text", rows: "10" %>
      <div class="tweet-submit-form">
        <%= f.submit "投稿する" %>
    <%= render "tweets/googlemaps" %>
    <% end %>
  </div>
</div>
